.logo {
    width: 196px;
    a {
        display: block;
        
        img {}
        .slogan {
            font-size: 13px;
            color: #aaa;
            line-height: 1;
            display: block;
        }
    }
}